[Unit]
Description=Disk Usage Monitor Timer
Requires=disk-monitor.service

[Timer]
OnCalendar=*:0/30
Persistent=true

[Install]
WantedBy=timers.target
