[Unit]
Description=Service Health Check Timer
Requires=service-health-check.service

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
